<div class="button invisible">Hello</div>

<%= image_tag 'avatar.png', class: "avatar avatar-small invisible" %>

<div class="card invisible">
  <%= image_tag 'tavarua', class: "card-img" %>
  <div class="card-content">
    <h4>Tavarua - Cloud Break</h4>
    <span>World class surf spot</span>
  </div>
</div>

<div class="tab">
  <div class="tab-title">
  </div>
  <div class="tab-content">
  </div>
</div>