ul.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  line-height: 60px;
  list-style: none;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
  background: rgb(85, 126, 193);
  position: fixed;
}

.nav > li:hover {
  cursor: pointer;
}

.nav > label {
  align-self: center;
}

.nav > label > .avatar {
  margin-top: 20px;
  align-self: baseline;
}



.nav > .menu{
  display: none;
  height: 100px;
  width: 200px;
  background: rgb(85, 126, 193);
  position: fixed;
  margin-top: 70px;
  right: 5px;
}

input:checked + .menu{
  display: flex;
  flex-direction: column;
  justify-items: center
}

.menu > div {
  background: grey;
  width: 200px;
  height: 50px;
  text-align: center;
}

.menu > div:hover {
  border: 1px solid black;
  cursor: pointer;
}