.tab-group {
  margin-left: 200px;
  margin-top: 200px;
  height: 200px;
  width: 600px;
  background: green;
  border: 2px solid black;  
}

.tab-item > div {
  display: inline;
  z-index: 1;
  width: 600px;
  height: 170px;
}

.tab-item > a {
  margin-left: -1px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.tab-item > a:hover {
  border: 1px solid black;
  border-radius: 5px;
}

.tab-item:target > a {
  z-index: 1;
  background: pink;
}

.tab-item:target > div {
  z-index: 2;
  position: absolute;
  background: pink;
}